$primaryDark: #215BA6;
$primaryLight: #0476D9;
$primary: #22B7F2;
$secondary: #F2AE30;
$tertiary: #F29B9B;
$light: #fff;
$dark: #333;
$rotate: -3deg;
$font: 'Work Sans', sans-serif;

h1,h2,h3,h4,h5,h6, p, span{ 
    font-family: $font;
}

html,body{
    margin:0px;
    width:100%;
    overflow-x:hidden;
}

body{
    background-color:darken($light,10%);
}

@media (prefers-color-scheme: dark) {
    body{
        background-color: lighten($dark,10%);
    }
}

::selection{
    background: $primary;
    text-shadow: $secondary;
}