$primaryDark: #0098d4;
$primaryLight: #00d9f9;
$primary: #00b5e9; // mid blue 
$secondary: #ffbb53; // mid orange
$tertiary: #F29B9B;
$light: #fff;
$dark: #333;
$rotate: -2deg;
$font: 'filson-pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$max-width: 1200px;

// body{
//     background-color:$primary;
// }